[core]
	editor = nvim
[diff]
	tool = vimdiff
[format]
	pretty = oneline
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[pull]
	ff = only

[url "git@github.com:"]
	insteadOf = https://github.com/
[include]
	path = ~/.local.gitconfig
